*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --color1: #012030;
    --color2: #45c4b0;
    --color3: #023047;
    --color4: #13678a;
    --color5: #dafdba;
    --color6: #9aeba3;
    --color7: #45c4b0b3;
    --color8: #dddddd;
    --color9: #f6f6f6;
}

body{
    background-color: var(--color1);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}

header{
    width: 100%;
}

header > h1{
    text-align: center;
    margin: 20px 0px;
    color: var(--color2);
}

header > nav{
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
    background-color: var(--color3);
    border: 1px solid var(--color4);
    border-right: none;
    padding: 16px 0px;
    border-left: none;
}

header > nav > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: var(--color5);
    font-size: 0.9em;
    letter-spacing: 1.2px;
}

header > nav > a > img{
    width: 30px;
    margin-bottom: 6px;
}

main#history {
    width: 88%;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    background-color: #f4f4f4;
    color: #000000;
}

main#history > h2{
    font-size: 2.3em;
    margin-bottom: 10px;
}

main#history > p{
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.4em;
}

main#history > ul{
    list-style: none;
}

main#history > ul > li{
    font-size: 2.1em;
    color: var(--color2);
    margin: 12px 0px;
}

main#history > ul > p{
    text-align: left;
    font-size: 1.2em;
    line-height: 1.4em;
}

main#history > ul > p > a{
    text-decoration: none;
    color: #000000;
    background-color: var(--color2);
    padding: 2px 4px;
    cursor: pointer;
}

/* TABLE PAGE */
main#table{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 800px;
}

main#table > div{
    width: 5.55%;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-size: 0.6em;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}

main#table > div.vaz{
    border: none;
}
section#chosenElement{
    width: 100%;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section#chosenElement > img{
    width: 80px;
    height: auto;
}

div.elemSymb{
    width: 80px;
    height: 80px;
    border-radius: 8px;
    background-color: orange;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    animation: float 2.5s ease-in-out infinite;
}

@keyframes float{
    0%{
        transform: translateY(8px);
    }
    50%{
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(8px);
    }
}

div.divRes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.divRes > p.nameNumber{
    text-align: center;
    color: var(--color9);
    font-size: 1.1em;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 8px 0px;
}

div.divRes > p.nameNumber > span{
    color: var(--color2);
}

div.divRes > p.dsitribuitionElectric{
    text-align: center;
    font-size: 1.1em;
    color: var(--color5);
}

section.tableFamily{
    margin-top: 30px;
    width: 90%;
    border: 1px solid #ffffff;
    padding: 10px;
}

section.tableFamily > h2{
    font-weight: lighter;
    margin-bottom: 4px;
    text-align: center;
}

section.tableFamily > p{
    width: 100%;
    text-align: center;
    padding: 6px 0px;
    border: 1px solid #ffffff;
    font-weight: bolder;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}

/* PÃGINA SEARCH */
main#search{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

main#search > input{
    width: 70%;
    padding: 10px 0px;
    padding-left: 4px;
    border: none;
    border-bottom: 1px solid #000000;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    outline: none;
}

main#search > ul{
    background-color: #ffffff;
    list-style: none;
    width: 70%;
    height: 55%;
    overflow-y: scroll;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

main#search > ul::-webkit-scrollbar{
    width: 4px;
}

main#search > ul::-webkit-scrollbar-thumb{
    background-color: var(--color4);
}

main#search > ul > li{
    text-align: center;
    border-bottom: 1px solid #000000;
}

main#search > ul > li > a{
    display: block;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    color: #737373;
    transition: .4s;
}
main#search > ul > li > a:hover {
    background-color: var(--color6);
    color: var(--color1);
}